.red {
  background-color: $material-red;
}

.red.primary {
  background-color: $material-red-primary;
}

.red.lighten-1 {
  background-color: $material-red-lighten-1;
}

.red.lighten-2 {
  background-color: $material-red-lighten-2;
}

.red.lighten-3 {
  background-color: $material-red-lighten-3;
}

.red.lighten-4 {
  background-color: $material-red-lighten-4;
}

.red.lighten-5 {
  background-color: $material-red-lighten-5;
}

.red.darken-1 {
  background-color: $material-red-darken-1;
}

.red.darken-2 {
  background-color: $material-red-darken-2;
}

.red.darken-3 {
  background-color: $material-red-darken-3;
}

.red.darken-4 {
  background-color: $material-red-darken-4;
}

.red.accent-1 {
  background-color: $material-red-accent-1;
}

.red.accent-2 {
  background-color: $material-red-accent-2;
}

.red.accent-3 {
  background-color: $material-red-accent-3;
}

.red.accent-4 {
  background-color: $material-red-accent-4;
}

.red-text {
  color: $material-red;
}

.red-text.primary {
  color: $material-red-primary;
}

.red-text.text-lighten-1 {
  color: $material-red-lighten-1;
}

.red-text.text-lighten-2 {
  color: $material-red-lighten-2;
}

.red-text.text-lighten-3 {
  color: $material-red-lighten-3;
}

.red-text.text-lighten-4 {
  color: $material-red-lighten-4;
}

.red-text.text-darken-1 {
  color: $material-red-darken-1;
}

.red-text.text-darken-2 {
  color: $material-red-darken-2;
}
.red-text.text-darken-3 {
  color: $material-red-darken-3;
}
.red-text.text-darken-4 {
  color: $material-red-darken-4;
}

.red-text.text-accent-1 {
  color: $material-red-accent-1;
}

.red-text.text-accent-2 {
  color: $material-red-accent-2;
}

.red-text.text-accent-3 {
  color: $material-red-accent-3;
}

.red-text.text-accent-4 {
  color: $material-red-accent-4;
}


.pink {
  background-color: $material-pink;
}

.pink.primary {
  background-color: $material-pink-primary;
}

.pink.lighten-1 {
  background-color: $material-pink-lighten-1;
}

.pink.lighten-2 {
  background-color: $material-pink-lighten-2;
}

.pink.lighten-3 {
  background-color: $material-pink-lighten-3;
}

.pink.lighten-4 {
  background-color: $material-pink-lighten-4;
}

.pink.lighten-5 {
  background-color: $material-pink-lighten-5;
}

.pink.darken-1 {
  background-color: $material-pink-darken-1;
}

.pink.darken-2 {
  background-color: $material-pink-darken-2;
}

.pink.darken-3 {
  background-color: $material-pink-darken-3;
}

.pink.darken-4 {
  background-color: $material-pink-darken-4;
}

.pink.accent-1 {
  background-color: $material-pink-accent-1;
}

.pink.accent-2 {
  background-color: $material-pink-accent-2;
}

.pink.accent-3 {
  background-color: $material-pink-accent-3;
}

.pink.accent-4 {
  background-color: $material-pink-accent-4;
}

.pink-text {
  color: $material-pink;
}

.pink-text.primary {
  color: $material-pink-primary;
}

.pink-text.text-lighten-1 {
  color: $material-pink-lighten-1;
}

.pink-text.text-lighten-2 {
  color: $material-pink-lighten-2;
}

.pink-text.text-lighten-3 {
  color: $material-pink-lighten-3;
}

.pink-text.text-lighten-4 {
  color: $material-pink-lighten-4;
}

.pink-text.text-darken-1 {
  color: $material-pink-darken-1;
}

.pink-text.text-darken-2 {
  color: $material-pink-darken-2;
}
.pink-text.text-darken-3 {
  color: $material-pink-darken-3;
}
.pink-text.text-darken-4 {
  color: $material-pink-darken-4;
}

.pink-text.text-accent-1 {
  color: $material-pink-accent-1;
}

.pink-text.text-accent-2 {
  color: $material-pink-accent-2;
}

.pink-text.text-accent-3 {
  color: $material-pink-accent-3;
}

.pink-text.text-accent-4 {
  color: $material-pink-accent-4;
}

.purple {
  background-color: $material-purple;
}

.purple.primary {
  background-color: $material-purple-primary;
}

.purple.lighten-1 {
  background-color: $material-purple-lighten-1;
}

.purple.lighten-2 {
  background-color: $material-purple-lighten-2;
}

.purple.lighten-3 {
  background-color: $material-purple-lighten-3;
}

.purple.lighten-4 {
  background-color: $material-purple-lighten-4;
}

.purple.lighten-5 {
  background-color: $material-purple-lighten-5;
}

.purple.darken-1 {
  background-color: $material-purple-darken-1;
}

.purple.darken-2 {
  background-color: $material-purple-darken-2;
}

.purple.darken-3 {
  background-color: $material-purple-darken-3;
}

.purple.darken-4 {
  background-color: $material-purple-darken-4;
}

.purple.accent-1 {
  background-color: $material-purple-accent-1;
}

.purple.accent-2 {
  background-color: $material-purple-accent-2;
}

.purple.accent-3 {
  background-color: $material-purple-accent-3;
}

.purple.accent-4 {
  background-color: $material-purple-accent-4;
}

.purple-text {
  color: $material-purple;
}

.purple-text.primary {
  color: $material-purple-primary;
}

.purple-text.text-lighten-1 {
  color: $material-purple-lighten-1;
}

.purple-text.text-lighten-2 {
  color: $material-purple-lighten-2;
}

.purple-text.text-lighten-3 {
  color: $material-purple-lighten-3;
}

.purple-text.text-lighten-4 {
  color: $material-purple-lighten-4;
}

.purple-text.text-darken-1 {
  color: $material-purple-darken-1;
}

.purple-text.text-darken-2 {
  color: $material-purple-darken-2;
}
.purple-text.text-darken-3 {
  color: $material-purple-darken-3;
}
.purple-text.text-darken-4 {
  color: $material-purple-darken-4;
}

.purple-text.text-accent-1 {
  color: $material-purple-accent-1;
}

.purple-text.text-accent-2 {
  color: $material-purple-accent-2;
}

.purple-text.text-accent-3 {
  color: $material-purple-accent-3;
}

.purple-text.text-accent-4 {
  color: $material-purple-accent-4;
}


.deep-purple {
  background-color: $material-deep-purple;
}

.deep-purple.primary {
  background-color: $material-deep-purple-primary;
}

.deep-purple.lighten-1 {
  background-color: $material-deep-purple-lighten-1;
}

.deep-purple.lighten-2 {
  background-color: $material-deep-purple-lighten-2;
}

.deep-purple.lighten-3 {
  background-color: $material-deep-purple-lighten-3;
}

.deep-purple.lighten-4 {
  background-color: $material-deep-purple-lighten-4;
}

.deep-purple.lighten-5 {
  background-color: $material-deep-purple-lighten-5;
}

.deep-purple.darken-1 {
  background-color: $material-deep-purple-darken-1;
}

.deep-purple.darken-2 {
  background-color: $material-deep-purple-darken-2;
}

.deep-purple.darken-3 {
  background-color: $material-deep-purple-darken-3;
}

.deep-purple.darken-4 {
  background-color: $material-deep-purple-darken-4;
}

.deep-purple.accent-1 {
  background-color: $material-deep-purple-accent-1;
}

.deep-purple.accent-2 {
  background-color: $material-deep-purple-accent-2;
}

.deep-purple.accent-3 {
  background-color: $material-deep-purple-accent-3;
}

.deep-purple.accent-4 {
  background-color: $material-deep-purple-accent-4;
}

.deep-purple-text {
  color: $material-deep-purple;
}

.deep-purple-text.primary {
  color: $material-deep-purple-primary;
}

.deep-purple-text.text-lighten-1 {
  color: $material-deep-purple-lighten-1;
}

.deep-purple-text.text-lighten-2 {
  color: $material-deep-purple-lighten-2;
}

.deep-purple-text.text-lighten-3 {
  color: $material-deep-purple-lighten-3;
}

.deep-purple-text.text-lighten-4 {
  color: $material-deep-purple-lighten-4;
}

.deep-purple-text.text-darken-1 {
  color: $material-deep-purple-darken-1;
}

.deep-purple-text.text-darken-2 {
  color: $material-deep-purple-darken-2;
}
.deep-purple-text.text-darken-3 {
  color: $material-deep-purple-darken-3;
}
.deep-purple-text.text-darken-4 {
  color: $material-deep-purple-darken-4;
}

.deep-purple-text.text-accent-1 {
  color: $material-deep-purple-accent-1;
}

.deep-purple-text.text-accent-2 {
  color: $material-deep-purple-accent-2;
}

.deep-purple-text.text-accent-3 {
  color: $material-deep-purple-accent-3;
}

.deep-purple-text.text-accent-4 {
  color: $material-deep-purple-accent-4;
}


.indigo {
  background-color: $material-indigo;
}

.indigo.primary {
  background-color: $material-indigo-primary;
}

.indigo.lighten-1 {
  background-color: $material-indigo-lighten-1;
}

.indigo.lighten-2 {
  background-color: $material-indigo-lighten-2;
}

.indigo.lighten-3 {
  background-color: $material-indigo-lighten-3;
}

.indigo.lighten-4 {
  background-color: $material-indigo-lighten-4;
}

.indigo.lighten-5 {
  background-color: $material-indigo-lighten-5;
}

.indigo.darken-1 {
  background-color: $material-indigo-darken-1;
}

.indigo.darken-2 {
  background-color: $material-indigo-darken-2;
}

.indigo.darken-3 {
  background-color: $material-indigo-darken-3;
}

.indigo.darken-4 {
  background-color: $material-indigo-darken-4;
}

.indigo.accent-1 {
  background-color: $material-indigo-accent-1;
}

.indigo.accent-2 {
  background-color: $material-indigo-accent-2;
}

.indigo.accent-3 {
  background-color: $material-indigo-accent-3;
}

.indigo.accent-4 {
  background-color: $material-indigo-accent-4;
}

.indigo-text {
  color: $material-indigo;
}

.indigo-text.primary {
  color: $material-indigo-primary;
}

.indigo-text.text-lighten-1 {
  color: $material-indigo-lighten-1;
}

.indigo-text.text-lighten-2 {
  color: $material-indigo-lighten-2;
}

.indigo-text.text-lighten-3 {
  color: $material-indigo-lighten-3;
}

.indigo-text.text-lighten-4 {
  color: $material-indigo-lighten-4;
}

.indigo-text.text-darken-1 {
  color: $material-indigo-darken-1;
}

.indigo-text.text-darken-2 {
  color: $material-indigo-darken-2;
}
.indigo-text.text-darken-3 {
  color: $material-indigo-darken-3;
}
.indigo-text.text-darken-4 {
  color: $material-indigo-darken-4;
}

.indigo-text.text-accent-1 {
  color: $material-indigo-accent-1;
}

.indigo-text.text-accent-2 {
  color: $material-indigo-accent-2;
}

.indigo-text.text-accent-3 {
  color: $material-indigo-accent-3;
}

.indigo-text.text-accent-4 {
  color: $material-indigo-accent-4;
}


.blue {
  background-color: $material-blue;
}

.blue.primary {
  background-color: $material-blue-primary;
}

.blue.lighten-1 {
  background-color: $material-blue-lighten-1;
}

.blue.lighten-2 {
  background-color: $material-blue-lighten-2;
}

.blue.lighten-3 {
  background-color: $material-blue-lighten-3;
}

.blue.lighten-4 {
  background-color: $material-blue-lighten-4;
}

.blue.lighten-5 {
  background-color: $material-blue-lighten-5;
}

.blue.darken-1 {
  background-color: $material-blue-darken-1;
}

.blue.darken-2 {
  background-color: $material-blue-darken-2;
}

.blue.darken-3 {
  background-color: $material-blue-darken-3;
}

.blue.darken-4 {
  background-color: $material-blue-darken-4;
}

.blue.accent-1 {
  background-color: $material-blue-accent-1;
}

.blue.accent-2 {
  background-color: $material-blue-accent-2;
}

.blue.accent-3 {
  background-color: $material-blue-accent-3;
}

.blue.accent-4 {
  background-color: $material-blue-accent-4;
}

.blue-text {
  color: $material-blue;
}

.blue-text.primary {
  color: $material-blue-primary;
}

.blue-text.text-lighten-1 {
  color: $material-blue-lighten-1;
}

.blue-text.text-lighten-2 {
  color: $material-blue-lighten-2;
}

.blue-text.text-lighten-3 {
  color: $material-blue-lighten-3;
}

.blue-text.text-lighten-4 {
  color: $material-blue-lighten-4;
}

.blue-text.text-darken-1 {
  color: $material-blue-darken-1;
}

.blue-text.text-darken-2 {
  color: $material-blue-darken-2;
}
.blue-text.text-darken-3 {
  color: $material-blue-darken-3;
}
.blue-text.text-darken-4 {
  color: $material-blue-darken-4;
}

.blue-text.text-accent-1 {
  color: $material-blue-accent-1;
}

.blue-text.text-accent-2 {
  color: $material-blue-accent-2;
}

.blue-text.text-accent-3 {
  color: $material-blue-accent-3;
}

.blue-text.text-accent-4 {
  color: $material-blue-accent-4;
}


.light-blue {
  background-color: $material-light-blue;
}

.light-blue.primary {
  background-color: $material-light-blue-primary;
}

.light-blue.lighten-1 {
  background-color: $material-light-blue-lighten-1;
}

.light-blue.lighten-2 {
  background-color: $material-light-blue-lighten-2;
}

.light-blue.lighten-3 {
  background-color: $material-light-blue-lighten-3;
}

.light-blue.lighten-4 {
  background-color: $material-light-blue-lighten-4;
}

.light-blue.lighten-5 {
  background-color: $material-light-blue-lighten-5;
}

.light-blue.darken-1 {
  background-color: $material-light-blue-darken-1;
}

.light-blue.darken-2 {
  background-color: $material-light-blue-darken-2;
}

.light-blue.darken-3 {
  background-color: $material-light-blue-darken-3;
}

.light-blue.darken-4 {
  background-color: $material-light-blue-darken-4;
}

.light-blue.accent-1 {
  background-color: $material-light-blue-accent-1;
}

.light-blue.accent-2 {
  background-color: $material-light-blue-accent-2;
}

.light-blue.accent-3 {
  background-color: $material-light-blue-accent-3;
}

.light-blue.accent-4 {
  background-color: $material-light-blue-accent-4;
}

.light-blue-text {
  color: $material-light-blue;
}

.light-blue-text.primary {
  color: $material-light-blue-primary;
}

.light-blue-text.text-lighten-1 {
  color: $material-light-blue-lighten-1;
}

.light-blue-text.text-lighten-2 {
  color: $material-light-blue-lighten-2;
}

.light-blue-text.text-lighten-3 {
  color: $material-light-blue-lighten-3;
}

.light-blue-text.text-lighten-4 {
  color: $material-light-blue-lighten-4;
}

.light-blue-text.text-darken-1 {
  color: $material-light-blue-darken-1;
}

.light-blue-text.text-darken-2 {
  color: $material-light-blue-darken-2;
}
.light-blue-text.text-darken-3 {
  color: $material-light-blue-darken-3;
}
.light-blue-text.text-darken-4 {
  color: $material-light-blue-darken-4;
}

.light-blue-text.text-accent-1 {
  color: $material-light-blue-accent-1;
}

.light-blue-text.text-accent-2 {
  color: $material-light-blue-accent-2;
}

.light-blue-text.text-accent-3 {
  color: $material-light-blue-accent-3;
}

.light-blue-text.text-accent-4 {
  color: $material-light-blue-accent-4;
}


.cyan {
  background-color: $material-cyan;
}

.cyan.primary {
  background-color: $material-cyan-primary;
}

.cyan.lighten-1 {
  background-color: $material-cyan-lighten-1;
}

.cyan.lighten-2 {
  background-color: $material-cyan-lighten-2;
}

.cyan.lighten-3 {
  background-color: $material-cyan-lighten-3;
}

.cyan.lighten-4 {
  background-color: $material-cyan-lighten-4;
}

.cyan.lighten-5 {
  background-color: $material-cyan-lighten-5;
}

.cyan.darken-1 {
  background-color: $material-cyan-darken-1;
}

.cyan.darken-2 {
  background-color: $material-cyan-darken-2;
}

.cyan.darken-3 {
  background-color: $material-cyan-darken-3;
}

.cyan.darken-4 {
  background-color: $material-cyan-darken-4;
}

.cyan.accent-1 {
  background-color: $material-cyan-accent-1;
}

.cyan.accent-2 {
  background-color: $material-cyan-accent-2;
}

.cyan.accent-3 {
  background-color: $material-cyan-accent-3;
}

.cyan.accent-4 {
  background-color: $material-cyan-accent-4;
}

.cyan-text {
  color: $material-cyan;
}

.cyan-text.primary {
  color: $material-cyan-primary;
}

.cyan-text.text-lighten-1 {
  color: $material-cyan-lighten-1;
}

.cyan-text.text-lighten-2 {
  color: $material-cyan-lighten-2;
}

.cyan-text.text-lighten-3 {
  color: $material-cyan-lighten-3;
}

.cyan-text.text-lighten-4 {
  color: $material-cyan-lighten-4;
}

.cyan-text.text-darken-1 {
  color: $material-cyan-darken-1;
}

.cyan-text.text-darken-2 {
  color: $material-cyan-darken-2;
}
.cyan-text.text-darken-3 {
  color: $material-cyan-darken-3;
}
.cyan-text.text-darken-4 {
  color: $material-cyan-darken-4;
}

.cyan-text.text-accent-1 {
  color: $material-cyan-accent-1;
}

.cyan-text.text-accent-2 {
  color: $material-cyan-accent-2;
}

.cyan-text.text-accent-3 {
  color: $material-cyan-accent-3;
}

.cyan-text.text-accent-4 {
  color: $material-cyan-accent-4;
}


.teal {
  background-color: $material-teal;
}

.teal.primary {
  background-color: $material-teal-primary;
}

.teal.lighten-1 {
  background-color: $material-teal-lighten-1;
}

.teal.lighten-2 {
  background-color: $material-teal-lighten-2;
}

.teal.lighten-3 {
  background-color: $material-teal-lighten-3;
}

.teal.lighten-4 {
  background-color: $material-teal-lighten-4;
}

.teal.lighten-5 {
  background-color: $material-teal-lighten-5;
}

.teal.darken-1 {
  background-color: $material-teal-darken-1;
}

.teal.darken-2 {
  background-color: $material-teal-darken-2;
}

.teal.darken-3 {
  background-color: $material-teal-darken-3;
}

.teal.darken-4 {
  background-color: $material-teal-darken-4;
}

.teal.accent-1 {
  background-color: $material-teal-accent-1;
}

.teal.accent-2 {
  background-color: $material-teal-accent-2;
}

.teal.accent-3 {
  background-color: $material-teal-accent-3;
}

.teal.accent-4 {
  background-color: $material-teal-accent-4;
}

.teal-text {
  color: $material-teal;
}

.teal-text.primary {
  color: $material-teal-primary;
}

.teal-text.text-lighten-1 {
  color: $material-teal-lighten-1;
}

.teal-text.text-lighten-2 {
  color: $material-teal-lighten-2;
}

.teal-text.text-lighten-3 {
  color: $material-teal-lighten-3;
}

.teal-text.text-lighten-4 {
  color: $material-teal-lighten-4;
}

.teal-text.text-darken-1 {
  color: $material-teal-darken-1;
}

.teal-text.text-darken-2 {
  color: $material-teal-darken-2;
}
.teal-text.text-darken-3 {
  color: $material-teal-darken-3;
}
.teal-text.text-darken-4 {
  color: $material-teal-darken-4;
}

.teal-text.text-accent-1 {
  color: $material-teal-accent-1;
}

.teal-text.text-accent-2 {
  color: $material-teal-accent-2;
}

.teal-text.text-accent-3 {
  color: $material-teal-accent-3;
}

.teal-text.text-accent-4 {
  color: $material-teal-accent-4;
}


.green {
  background-color: $material-green;
}

.green.primary {
  background-color: $material-green-primary;
}

.green.lighten-1 {
  background-color: $material-green-lighten-1;
}

.green.lighten-2 {
  background-color: $material-green-lighten-2;
}

.green.lighten-3 {
  background-color: $material-green-lighten-3;
}

.green.lighten-4 {
  background-color: $material-green-lighten-4;
}

.green.lighten-5 {
  background-color: $material-green-lighten-5;
}

.green.darken-1 {
  background-color: $material-green-darken-1;
}

.green.darken-2 {
  background-color: $material-green-darken-2;
}

.green.darken-3 {
  background-color: $material-green-darken-3;
}

.green.darken-4 {
  background-color: $material-green-darken-4;
}

.green.accent-1 {
  background-color: $material-green-accent-1;
}

.green.accent-2 {
  background-color: $material-green-accent-2;
}

.green.accent-3 {
  background-color: $material-green-accent-3;
}

.green.accent-4 {
  background-color: $material-green-accent-4;
}

.green-text {
  color: $material-green;
}

.green-text.primary {
  color: $material-green-primary;
}

.green-text.text-lighten-1 {
  color: $material-green-lighten-1;
}

.green-text.text-lighten-2 {
  color: $material-green-lighten-2;
}

.green-text.text-lighten-3 {
  color: $material-green-lighten-3;
}

.green-text.text-lighten-4 {
  color: $material-green-lighten-4;
}

.green-text.text-darken-1 {
  color: $material-green-darken-1;
}

.green-text.text-darken-2 {
  color: $material-green-darken-2;
}
.green-text.text-darken-3 {
  color: $material-green-darken-3;
}
.green-text.text-darken-4 {
  color: $material-green-darken-4;
}

.green-text.text-accent-1 {
  color: $material-green-accent-1;
}

.green-text.text-accent-2 {
  color: $material-green-accent-2;
}

.green-text.text-accent-3 {
  color: $material-green-accent-3;
}

.green-text.text-accent-4 {
  color: $material-green-accent-4;
}


.light-green {
  background-color: $material-light-green;
}

.light-green.primary {
  background-color: $material-light-green-primary;
}

.light-green.lighten-1 {
  background-color: $material-light-green-lighten-1;
}

.light-green.lighten-2 {
  background-color: $material-light-green-lighten-2;
}

.light-green.lighten-3 {
  background-color: $material-light-green-lighten-3;
}

.light-green.lighten-4 {
  background-color: $material-light-green-lighten-4;
}

.light-green.lighten-5 {
  background-color: $material-light-green-lighten-5;
}

.light-green.darken-1 {
  background-color: $material-light-green-darken-1;
}

.light-green.darken-2 {
  background-color: $material-light-green-darken-2;
}

.light-green.darken-3 {
  background-color: $material-light-green-darken-3;
}

.light-green.darken-4 {
  background-color: $material-light-green-darken-4;
}

.light-green.accent-1 {
  background-color: $material-light-green-accent-1;
}

.light-green.accent-2 {
  background-color: $material-light-green-accent-2;
}

.light-green.accent-3 {
  background-color: $material-light-green-accent-3;
}

.light-green.accent-4 {
  background-color: $material-light-green-accent-4;
}

.light-green-text {
  color: $material-light-green;
}

.light-green-text.primary {
  color: $material-light-green-primary;
}

.light-green-text.text-lighten-1 {
  color: $material-light-green-lighten-1;
}

.light-green-text.text-lighten-2 {
  color: $material-light-green-lighten-2;
}

.light-green-text.text-lighten-3 {
  color: $material-light-green-lighten-3;
}

.light-green-text.text-lighten-4 {
  color: $material-light-green-lighten-4;
}

.light-green-text.text-darken-1 {
  color: $material-light-green-darken-1;
}

.light-green-text.text-darken-2 {
  color: $material-light-green-darken-2;
}
.light-green-text.text-darken-3 {
  color: $material-light-green-darken-3;
}
.light-green-text.text-darken-4 {
  color: $material-light-green-darken-4;
}

.light-green-text.text-accent-1 {
  color: $material-light-green-accent-1;
}

.light-green-text.text-accent-2 {
  color: $material-light-green-accent-2;
}

.light-green-text.text-accent-3 {
  color: $material-light-green-accent-3;
}

.light-green-text.text-accent-4 {
  color: $material-light-green-accent-4;
}


.lime {
  background-color: $material-lime;
}

.lime.primary {
  background-color: $material-lime-primary;
}

.lime.lighten-1 {
  background-color: $material-lime-lighten-1;
}

.lime.lighten-2 {
  background-color: $material-lime-lighten-2;
}

.lime.lighten-3 {
  background-color: $material-lime-lighten-3;
}

.lime.lighten-4 {
  background-color: $material-lime-lighten-4;
}

.lime.lighten-5 {
  background-color: $material-lime-lighten-5;
}

.lime.darken-1 {
  background-color: $material-lime-darken-1;
}

.lime.darken-2 {
  background-color: $material-lime-darken-2;
}

.lime.darken-3 {
  background-color: $material-lime-darken-3;
}

.lime.darken-4 {
  background-color: $material-lime-darken-4;
}

.lime.accent-1 {
  background-color: $material-lime-accent-1;
}

.lime.accent-2 {
  background-color: $material-lime-accent-2;
}

.lime.accent-3 {
  background-color: $material-lime-accent-3;
}

.lime.accent-4 {
  background-color: $material-lime-accent-4;
}

.lime-text {
  color: $material-lime;
}

.lime-text.primary {
  color: $material-lime-primary;
}

.lime-text.text-lighten-1 {
  color: $material-lime-lighten-1;
}

.lime-text.text-lighten-2 {
  color: $material-lime-lighten-2;
}

.lime-text.text-lighten-3 {
  color: $material-lime-lighten-3;
}

.lime-text.text-lighten-4 {
  color: $material-lime-lighten-4;
}

.lime-text.text-darken-1 {
  color: $material-lime-darken-1;
}

.lime-text.text-darken-2 {
  color: $material-lime-darken-2;
}
.lime-text.text-darken-3 {
  color: $material-lime-darken-3;
}
.lime-text.text-darken-4 {
  color: $material-lime-darken-4;
}

.lime-text.text-accent-1 {
  color: $material-lime-accent-1;
}

.lime-text.text-accent-2 {
  color: $material-lime-accent-2;
}

.lime-text.text-accent-3 {
  color: $material-lime-accent-3;
}

.lime-text.text-accent-4 {
  color: $material-lime-accent-4;
}


.yellow {
  background-color: $material-yellow;
}

.yellow.primary {
  background-color: $material-yellow-primary;
}

.yellow.lighten-1 {
  background-color: $material-yellow-lighten-1;
}

.yellow.lighten-2 {
  background-color: $material-yellow-lighten-2;
}

.yellow.lighten-3 {
  background-color: $material-yellow-lighten-3;
}

.yellow.lighten-4 {
  background-color: $material-yellow-lighten-4;
}

.yellow.lighten-5 {
  background-color: $material-yellow-lighten-5;
}

.yellow.darken-1 {
  background-color: $material-yellow-darken-1;
}

.yellow.darken-2 {
  background-color: $material-yellow-darken-2;
}

.yellow.darken-3 {
  background-color: $material-yellow-darken-3;
}

.yellow.darken-4 {
  background-color: $material-yellow-darken-4;
}

.yellow.accent-1 {
  background-color: $material-yellow-accent-1;
}

.yellow.accent-2 {
  background-color: $material-yellow-accent-2;
}

.yellow.accent-3 {
  background-color: $material-yellow-accent-3;
}

.yellow.accent-4 {
  background-color: $material-yellow-accent-4;
}

.yellow-text {
  color: $material-yellow;
}

.yellow-text.primary {
  color: $material-yellow-primary;
}

.yellow-text.text-lighten-1 {
  color: $material-yellow-lighten-1;
}

.yellow-text.text-lighten-2 {
  color: $material-yellow-lighten-2;
}

.yellow-text.text-lighten-3 {
  color: $material-yellow-lighten-3;
}

.yellow-text.text-lighten-4 {
  color: $material-yellow-lighten-4;
}

.yellow-text.text-darken-1 {
  color: $material-yellow-darken-1;
}

.yellow-text.text-darken-2 {
  color: $material-yellow-darken-2;
}
.yellow-text.text-darken-3 {
  color: $material-yellow-darken-3;
}
.yellow-text.text-darken-4 {
  color: $material-yellow-darken-4;
}

.yellow-text.text-accent-1 {
  color: $material-yellow-accent-1;
}

.yellow-text.text-accent-2 {
  color: $material-yellow-accent-2;
}

.yellow-text.text-accent-3 {
  color: $material-yellow-accent-3;
}

.yellow-text.text-accent-4 {
  color: $material-yellow-accent-4;
}


.amber {
  background-color: $material-amber;
}

.amber.primary {
  background-color: $material-amber-primary;
}

.amber.lighten-1 {
  background-color: $material-amber-lighten-1;
}

.amber.lighten-2 {
  background-color: $material-amber-lighten-2;
}

.amber.lighten-3 {
  background-color: $material-amber-lighten-3;
}

.amber.lighten-4 {
  background-color: $material-amber-lighten-4;
}

.amber.lighten-5 {
  background-color: $material-amber-lighten-5;
}

.amber.darken-1 {
  background-color: $material-amber-darken-1;
}

.amber.darken-2 {
  background-color: $material-amber-darken-2;
}

.amber.darken-3 {
  background-color: $material-amber-darken-3;
}

.amber.darken-4 {
  background-color: $material-amber-darken-4;
}

.amber.accent-1 {
  background-color: $material-amber-accent-1;
}

.amber.accent-2 {
  background-color: $material-amber-accent-2;
}

.amber.accent-3 {
  background-color: $material-amber-accent-3;
}

.amber.accent-4 {
  background-color: $material-amber-accent-4;
}

.amber-text {
  color: $material-amber;
}

.amber-text.primary {
  color: $material-amber-primary;
}

.amber-text.text-lighten-1 {
  color: $material-amber-lighten-1;
}

.amber-text.text-lighten-2 {
  color: $material-amber-lighten-2;
}

.amber-text.text-lighten-3 {
  color: $material-amber-lighten-3;
}

.amber-text.text-lighten-4 {
  color: $material-amber-lighten-4;
}

.amber-text.text-darken-1 {
  color: $material-amber-darken-1;
}

.amber-text.text-darken-2 {
  color: $material-amber-darken-2;
}
.amber-text.text-darken-3 {
  color: $material-amber-darken-3;
}
.amber-text.text-darken-4 {
  color: $material-amber-darken-4;
}

.amber-text.text-accent-1 {
  color: $material-amber-accent-1;
}

.amber-text.text-accent-2 {
  color: $material-amber-accent-2;
}

.amber-text.text-accent-3 {
  color: $material-amber-accent-3;
}

.amber-text.text-accent-4 {
  color: $material-amber-accent-4;
}


.orange {
  background-color: $material-orange;
}

.orange.primary {
  background-color: $material-orange-primary;
}

.orange.lighten-1 {
  background-color: $material-orange-lighten-1;
}

.orange.lighten-2 {
  background-color: $material-orange-lighten-2;
}

.orange.lighten-3 {
  background-color: $material-orange-lighten-3;
}

.orange.lighten-4 {
  background-color: $material-orange-lighten-4;
}

.orange.lighten-5 {
  background-color: $material-orange-lighten-5;
}

.orange.darken-1 {
  background-color: $material-orange-darken-1;
}

.orange.darken-2 {
  background-color: $material-orange-darken-2;
}

.orange.darken-3 {
  background-color: $material-orange-darken-3;
}

.orange.darken-4 {
  background-color: $material-orange-darken-4;
}

.orange.accent-1 {
  background-color: $material-orange-accent-1;
}

.orange.accent-2 {
  background-color: $material-orange-accent-2;
}

.orange.accent-3 {
  background-color: $material-orange-accent-3;
}

.orange.accent-4 {
  background-color: $material-orange-accent-4;
}

.orange-text {
  color: $material-orange;
}

.orange-text.primary {
  color: $material-orange-primary;
}

.orange-text.text-lighten-1 {
  color: $material-orange-lighten-1;
}

.orange-text.text-lighten-2 {
  color: $material-orange-lighten-2;
}

.orange-text.text-lighten-3 {
  color: $material-orange-lighten-3;
}

.orange-text.text-lighten-4 {
  color: $material-orange-lighten-4;
}

.orange-text.text-darken-1 {
  color: $material-orange-darken-1;
}

.orange-text.text-darken-2 {
  color: $material-orange-darken-2;
}
.orange-text.text-darken-3 {
  color: $material-orange-darken-3;
}
.orange-text.text-darken-4 {
  color: $material-orange-darken-4;
}

.orange-text.text-accent-1 {
  color: $material-orange-accent-1;
}

.orange-text.text-accent-2 {
  color: $material-orange-accent-2;
}

.orange-text.text-accent-3 {
  color: $material-orange-accent-3;
}

.orange-text.text-accent-4 {
  color: $material-orange-accent-4;
}


.deep-orange {
  background-color: $material-deep-orange;
}

.deep-orange.primary {
  background-color: $material-deep-orange-primary;
}

.deep-orange.lighten-1 {
  background-color: $material-deep-orange-lighten-1;
}

.deep-orange.lighten-2 {
  background-color: $material-deep-orange-lighten-2;
}

.deep-orange.lighten-3 {
  background-color: $material-deep-orange-lighten-3;
}

.deep-orange.lighten-4 {
  background-color: $material-deep-orange-lighten-4;
}

.deep-orange.lighten-5 {
  background-color: $material-deep-orange-lighten-5;
}

.deep-orange.darken-1 {
  background-color: $material-deep-orange-darken-1;
}

.deep-orange.darken-2 {
  background-color: $material-deep-orange-darken-2;
}

.deep-orange.darken-3 {
  background-color: $material-deep-orange-darken-3;
}

.deep-orange.darken-4 {
  background-color: $material-deep-orange-darken-4;
}

.deep-orange.accent-1 {
  background-color: $material-deep-orange-accent-1;
}

.deep-orange.accent-2 {
  background-color: $material-deep-orange-accent-2;
}

.deep-orange.accent-3 {
  background-color: $material-deep-orange-accent-3;
}

.deep-orange.accent-4 {
  background-color: $material-deep-orange-accent-4;
}

.deep-orange-text {
  color: $material-deep-orange;
}

.deep-orange-text.primary {
  color: $material-deep-orange-primary;
}

.deep-orange-text.text-lighten-1 {
  color: $material-deep-orange-lighten-1;
}

.deep-orange-text.text-lighten-2 {
  color: $material-deep-orange-lighten-2;
}

.deep-orange-text.text-lighten-3 {
  color: $material-deep-orange-lighten-3;
}

.deep-orange-text.text-lighten-4 {
  color: $material-deep-orange-lighten-4;
}

.deep-orange-text.text-darken-1 {
  color: $material-deep-orange-darken-1;
}

.deep-orange-text.text-darken-2 {
  color: $material-deep-orange-darken-2;
}
.deep-orange-text.text-darken-3 {
  color: $material-deep-orange-darken-3;
}
.deep-orange-text.text-darken-4 {
  color: $material-deep-orange-darken-4;
}

.deep-orange-text.text-accent-1 {
  color: $material-deep-orange-accent-1;
}

.deep-orange-text.text-accent-2 {
  color: $material-deep-orange-accent-2;
}

.deep-orange-text.text-accent-3 {
  color: $material-deep-orange-accent-3;
}

.deep-orange-text.text-accent-4 {
  color: $material-deep-orange-accent-4;
}


.brown {
  background-color: $material-brown;
}

.brown.primary {
  background-color: $material-brown-primary;
}

.brown.lighten-1 {
  background-color: $material-brown-lighten-1;
}

.brown.lighten-2 {
  background-color: $material-brown-lighten-2;
}

.brown.lighten-3 {
  background-color: $material-brown-lighten-3;
}

.brown.lighten-4 {
  background-color: $material-brown-lighten-4;
}

.brown.lighten-5 {
  background-color: $material-brown-lighten-5;
}

.brown.darken-1 {
  background-color: $material-brown-darken-1;
}

.brown.darken-2 {
  background-color: $material-brown-darken-2;
}

.brown.darken-3 {
  background-color: $material-brown-darken-3;
}

.brown.darken-4 {
  background-color: $material-brown-darken-4;
}

.brown-text {
  color: $material-brown;
}

.brown-text.primary {
  color: $material-brown-primary;
}

.brown-text.text-lighten-1 {
  color: $material-brown-lighten-1;
}

.brown-text.text-lighten-2 {
  color: $material-brown-lighten-2;
}

.brown-text.text-lighten-3 {
  color: $material-brown-lighten-3;
}

.brown-text.text-lighten-4 {
  color: $material-brown-lighten-4;
}

.brown-text.text-darken-1 {
  color: $material-brown-darken-1;
}

.brown-text.text-darken-2 {
  color: $material-brown-darken-2;
}
.brown-text.text-darken-3 {
  color: $material-brown-darken-3;
}
.brown-text.text-darken-4 {
  color: $material-brown-darken-4;
}

.grey {
  background-color: $material-grey;
}

.grey.primary {
  background-color: $material-grey-primary;
}

.grey.lighten-1 {
  background-color: $material-grey-lighten-1;
}

.grey.lighten-2 {
  background-color: $material-grey-lighten-2;
}

.grey.lighten-3 {
  background-color: $material-grey-lighten-3;
}

.grey.lighten-4 {
  background-color: $material-grey-lighten-4;
}

.grey.lighten-5 {
  background-color: $material-grey-lighten-5;
}

.grey.darken-1 {
  background-color: $material-grey-darken-1;
}

.grey.darken-2 {
  background-color: $material-grey-darken-2;
}

.grey.darken-3 {
  background-color: $material-grey-darken-3;
}

.grey.darken-4 {
  background-color: $material-grey-darken-4;
}

.grey-text {
  color: $material-grey;
}

.grey-text.primary {
  color: $material-grey-primary;
}

.grey-text.text-lighten-1 {
  color: $material-grey-lighten-1;
}

.grey-text.text-lighten-2 {
  color: $material-grey-lighten-2;
}

.grey-text.text-lighten-3 {
  color: $material-grey-lighten-3;
}

.grey-text.text-lighten-4 {
  color: $material-grey-lighten-4;
}

.grey-text.text-darken-1 {
  color: $material-grey-darken-1;
}

.grey-text.text-darken-2 {
  color: $material-grey-darken-2;
}
.grey-text.text-darken-3 {
  color: $material-grey-darken-3;
}
.grey-text.text-darken-4 {
  color: $material-grey-darken-4;
}

.black {
  background-color: $material-black;
}

.black-text {
  color: $material-black;
}

.white {
  background-color: $material-white;
}

.white-text {
  color: $material-white;
}

.info {
  background-color: $color-info;
}

.info-text {
  color: $color-info;
}

.success {
  background-color: $color-success;
}

.success-text {
  color: $color-success;
}
.warning {
  background-color: $color-warning;
}

.warning-text {
  color: $color-warning;
}

.error {
  background-color: $color-error;
}

.error-text {
  color: $color-error;
}

