@import "ui-variables";

.search-bar {
  position: relative;

  &.card {
    &.focused,
    &:hover {
      box-shadow: $z-index-1-haft;
    }
  }

  input#search {
    border: none;
    outline: none;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;

    &:focus {
      box-shadow: none;
    }
  }

  .material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .dropdown-content {

    width: 100%;

    li {
      min-height: $component-line-height;

      & > a, & > span {
        font-size: $font-size + 2;
        color: $dropdown-color;
        display: block;
        line-height: $font-size + 2;
        padding: (($component-line-height - 15) / 2) 16px;
      }
    }
  }
}