.login-frameless-view {
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .login-frameless-view .header {
    position: static;
    height: 150px;
    background-color: #2196F3; }
    .login-frameless-view .header .title {
      text-align: center;
      color: #bbdefb;
      font-weight: 600;
      font-size: 40px;
      font-style: italic; }
    .login-frameless-view .header .close {
      color: #fff;
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 5px; }
  .login-frameless-view .content {
    margin: 10px auto;
    width: 250px;
    position: relative;
    height: 280px; }
    .login-frameless-view .content .input-field {
      margin-bottom: 20px; }
    .login-frameless-view .content button {
      width: 100%; }
    .login-frameless-view .content a {
      float: right;
      margin-top: 10px; }
  .login-frameless-view .footer {
    width: 250px;
    height: 150px;
    border-top: 1px solid fade(#000000, 12%);
    margin: 0 auto; }
    .login-frameless-view .footer .btn,
    .login-frameless-view .footer .btn-flat {
      width: 100%;
      margin-top: 10px;
      text-align: center; }
