.modal {
  z-index: 9999;
  top: 10%;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  max-height: 70%;
  width: 30%;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 2px;
  will-change: top, opacity;
  display: block;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }
  .modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0; }
  .modal .modal-content {
    padding: 10px; }
  .modal .modal-close {
    cursor: pointer; }
  .modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%; }
    .modal .modal-footer .btn, .modal .modal-footer .btn-flat {
      float: right;
      margin: 6px 0; }

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: block;
  opacity: 0.5;
  will-change: opacity; }
